
* {
    box-sizing: border-box;
    margin: 0;
    width: auto;
    padding: 0;

}
.container {
    background: papayawhip;
    max-width: 400px;
    margin: 90px auto;
    padding: 0;
    height: 300px;
    box-shadow: 0 2px 8px;


}
p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 30%;


}
.btn{
    transition: 0.5 ease;
    position: absolute;
    width: 70px;
    text-emphasis-color: black;
    float: left;
    right: 45%;
    top: 45%;
}
